* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.col h2 {
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    transition: background 0.3s;
}

.col h2:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.col button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    transition: background 0.3s;
}

.col button:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}